.parenthese-round {
	padding: 0 10px;
	position: relative;
}

.parenthese-round::after {
	background-image: url(../../images//round-parenthese-right.svg);
	right: 3px;
}
.parenthese-grayed-out::after {
	background-image: url(../../images/round-parenthese-right-grey.svg);
}
.parenthese-round::before {
	background-image: url(../../images//round-parenthese-left.svg);
	left: 3px;
}

.parenthese-round::after, .parenthese-round::before {
	position: absolute;
	top: 0;
	bottom: 0;

	content: " ";
	width: 5px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 5px 100%;
}
.parenthese .math-component-group {
	min-width: 8px;
}
