.cursor {
	position: relative;
	width: 0px;
	margin-right: -2px;
	height: 1em;
	box-sizing: border-box;
	border-right: 2px solid black;
}

.cursor:not(.blink-on) {
	border: 0px solid transparent;
	margin-right: 0px;
}

.selected {
	background-color: lightblue;
}

#autocomplete {
	position: absolute;
	border: 1px solid grey;
	background-color: white;
	max-height: 100px;
	overflow-y: scroll;
}
#autocomplete:empty {
	display: none;
}
.matched-text {
	font-weight: bold;
}
.selected-result {
	background-color: lightgrey;
}
