.cursor {
	position: relative;
	width: 0px;
	margin-right: -2px;
	height: 1em;
	box-sizing: border-box;
	border-right: 2px solid black;
}

.cursor:not(.blink-on) {
	display: none;
}

.selected {
	background-color: lightblue;
}
