body {
	margin: 0px;
}

#lines-container {
	width: 100%;
	height: 100%;

	font-family: monospace;
	font-size: 15px;
}

.line {
	cursor: text;
	user-select: none;
	padding: 5px;
}

.math-component-group {
	height: max-content;
	display: flex;
	align-items: center;
}
