#tabs-container {
	overflow: auto;
	white-space: nowrap;

	background-color: rgb(243, 243, 243);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab {
	display: inline-block;
	background-color: rgb(220, 220, 220);

	padding: 10px;
	font-size: 13px;
}
.tab:not(#active-tab):hover {
	background-color: rgb(230, 230, 230);
}

#active-tab {
	background-color: white;
}
